th, tr, td {
    text-align: center;
    border: solid;
    border-color:black;
    border-width: 2px;
    padding: 10px;
}

.tr-body:hover {
    background-color: #ccc;
}

hr {
    margin-right: 5px;
    margin-left: 5px;
}
div, table {
    margin: 5px;
    padding: 5px;
}

.maisInfo {
    color:blue;
}

.maisInfo:hover {
    cursor: pointer;
    color: white;
    background-color: blue;
}

.remover {
    color:red;
}

.remover:hover {
    cursor: pointer;
    color: white;
    background-color: red;
}

button {
    margin-right: 25px;
    padding: 5px;
}

.mais-detalhes {
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
}
