<div>
  <br />
  <h3>Funcionários</h3>
  <br />
  <p>
      Na tabela abaixo estão listados todos os funcionários na empresa
  </p>
</div>
<table>
  <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Filial</th>
      <th>Data de admissão</th>
      <th>Cargo</th>
      <th>Salário</th>
      <th>Mais informações</th>
      <th>Ação</th>
      <th>Editar</th>
  </tr>
  <tr *ngFor='let funcionario of funcionarios' (click)='selecionarFuncionario(funcionario)' >
      <td>{{ funcionario.nome }}</td>
      <td>{{ funcionario.cpf | cpf: '.' : '.' : '-'}}</td>
      <td>{{ funcionario.filial }}</td>
      <td>{{ funcionario.dataAdmissao | date:'dd/MM/yyyy'}}</td>
      <td>{{ funcionario.cargo }}</td>
      <td>{{ funcionario.salario | currency:'BRL'}}</td>
      <td class="maisInfo" (click)="maisInfo(funcionario)">Ver detalhes</td>
      <td class="remover" (click)="removerFuncionario(funcionario)">Remover</td>
      <td class="editar" (click)="alterarFuncionario(funcionario)">Alterar Informações</td>
  </tr>
</table>
<div>
  <button class="btn-add" type="button" (click)="addFuncionario()">Adicionar funcionário</button>
  <button class="btn-remov-pos" type="button" (click)="removerUltimo(funcionario)">Remover último funcionário</button>
  <button class="btn-remov-pos" type="button" (click)="removerPrimeiro(funcionario)">Remover primeiro funcionário</button>
  <button class="btn-remov" type="button" (click)="removerTodos(funcionario)">Remover todos funcionário</button>
</div>
<hr>
<app-component *ngIf='funcionarioSelecionado' [funcionario]='funcionarioSelecionado' (deselecionarFuncionario)='funcionarioSelecionado'></app-component>

<app-funcionario-form></app-funcionario-form>