<div>
  <br />
  <h3>Funcionários</h3>
  <br />
  <p>
      Na tabela abaixo estão listados todos os funcionários na empresa
  </p>
</div>
<table>
  <tr>
      <th>Nome</th>
      <th>Filial</th>
      <th>Data de admissão</th>
      <th>Cargo</th>
      <th>Salário</th>
      <th>Mais informações</th>
  </tr>
  <tr *ngFor='let funcionario of funcionarios'>
      <td>{{ funcionario.nome }}</td>
      <td>{{ funcionario.filial }}</td>
      <td>{{ funcionario.admissao }}</td>
      <td>{{ funcionario.cargo }}</td>
      <td>{{ funcionario.salario }}</td>
      <td class="maisInfo" (click)="maisInfo(funcionario)">Ver detalhes</td>
  </tr>
</table>
<div>
  <button type="button">Remover último funcionário</button>
  <button type="button">Remover primeiro funcionário</button>
  <button type="button">Adicionar funcionário</button>
  <button type="button" (click)="removerTodos(funcionario)">Remover todos funcionário</button>
</div>
